body{
background: #2122;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #e6e0e0, #c28181);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #d3baba, #c22d2d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

 body {
   overflow-x: hidden;
  }

.texto01 {font-family: Berlin; 
    color: #eee;  
    font-size: 30px} 

.texto02 {font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    color: #eee;  
    font-size: 30px} 
    
#quadro{
    border:15px solid rgb(63, 7, 7);
}

.botoes {
    top: 660px;
    left: 250px;
    position: absolute;
}

.botao{
  background-color: #f58484;
    color: #493838;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}


